.overlay{
    position: fixed;
    background-color: rgba(50, 50, 50, 0.5);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 100000;
}
ul, li{
    margin-top: 10px;
    margin-bottom: 10px;
}

.factor-button{
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

/*.collapsibleList li{
  list-style-image:url('button.png');
  cursor:auto;
}

li.collapsibleListOpen{
  list-style-image:url('button-open.png');
  cursor:pointer;
}

li.collapsibleListClosed{
  list-style-image:url('button-closed.png');
  cursor:pointer;
}*/
